@{
	ViewData["Title"] = "Trang chủ";
}

<div class="skill_card">
	<img src="~/logo.png" alt="skill logo image" class="skill_logo" />
	<div class="card card-file">
		<form method="post" enctype="multipart/form-data" id="mainForm">
			<div>
				<p>Tải hình ảnh của bạn lên đây:</p>
			</div>
			<div>
				<div class="form-group custom-file mb-3">
					<input type="file" class="custom-file-input form-control" id="inputFile" name="imageFile" accept="image/*">
					<label class="custom-file-label" for="inputFile">Chọn tập tin</label>
				</div>
			</div>
			<div id="formButton">
				<input type="submit" value="Gửi hình" name="submit" class="btn btn-primary" />
				<a class="btn btn-success" asp-area="" asp-controller="Camera" asp-action="Index">Chuyển qua Camera</a>
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-sm" id="divResult_left">
		<div class="card">
			<div class="card-header">Xem trước</div>
			<div class="card-body">
				<div id="divImagePreview"></div>
			</div>
		</div>
	</div>
	<div class="col-sm" id="divResult_right">
		<div class="card">
			<div class="card-header">Kết quả</div>
			<div class="card-body">
				<div id="divImageId" class="col-md-10"></div>
				<div id="divPrediction" class="col-md-10"></div>
				<div id="divEnPrediction" class="col-md-10"></div>
				<div id="divProbability" class="col-md-10"></div>
				<div id="divExecutionTime" class="col-md-10"></div>
				<br />
				<div class="row center">
					<input type="button" value="Khám phá thêm về loài hoa này" class="btn btn-info row-sm" data-toggle="modal" data-target="#modal-info" />
					<input type="button" value="Báo cáo" class="btn btn-sm row-sm" id="btnSendContribution"/>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Model form thông tin giới thiệu-->
<div class="modal fade" id="modal-info" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle">Thông tin cho bạn</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>