@model IEnumerable<Flower>

@{
	ViewData["Title"] = "Quản trị viên";
}

<div class="row">
	<div class="col-sm-4">
		<strong>Danh sách các loài hoa có thể phân loại:</strong>
		<br />
		<br />
		<div class="list-group" id="listFlowers">
			@foreach (var flower in Model)
			{
				<button type="button" class="list-group-item list-group-item-action" id="@flower.ID" onclick="getItemById(@flower.ID)">@flower.VietnameseName</button>
			}
		</div>
	</div>
	<div class="col-sm-8">
		<strong>Công cụ chỉnh sửa nội dung:</strong>
		<br />
		<br />
		<form method="post" action="javascript:void(0);" enctype="multipart/form-data">
			<div class="form-inline">
				<label for="tbxEnglishName" class="col-form-label">Tên tiếng Anh:</label>
				<div>
					<input type="text" readonly class="form-control-plaintext" id="tbxEnglishName" value="">
				</div>
			</div>
			<div class="form-inline">
				<label for="tbxVietnameseName" class="col-form-label">Tên tiếng Việt:</label>
				<div>
					<input type="text" readonly class="form-control-plaintext" id="tbxVietnameseName" value="">
				</div>
			</div>
			<div class="form-group row">
				<label for="imgThumbnail" class="col-sm-3 col-form-label">Hình đại diện:</label>
				<div class="col-sm-9 center">
					<img id="imgThumbnail" src="" alt="" />
				</div>
			</div>
			<div class="form-group">
				<label for="rtbInfo" class="col-form-label">Thông tin mô tả:</label>
				<div id="rtbInfo"></div>
			</div>
			<div class="row">
				<div id="formButton">
					<input type="submit" value="Xác nhận" name="submit" class="btn btn-primary" />
				</div>
			</div>
		</form>
	</div>
</div>

@section scripts{
	<script src="~/js/ckeditor.js" type="text/javascript" asp-append-version="true"></script>
	<script>
		let _editor;
		let _thumbnail;

		ClassicEditor
			.create(document.querySelector('#rtbInfo'), {
			}).then(editor => {
				_editor = editor;
			}).catch(error => {
				console.error(error);
			});
	</script>
	<script src="~/js/admin.js" type="text/javascript" asp-append-version="true"></script>
}