
@{
	ViewData["Title"] = "Camera";
}
<div>
	<form method="post" enctype="multipart/form-data" id="mainForm">
		<div class="row">
			<div class="col-sm">
				<div class="card">
					<div class="card-header">Camera</div>
					<div class="card-body">
						<div id="my_camera"></div>
						<div id="formButton">
							<input type="button" class="btn btn-success btnCapture" value="Chụp hình" onclick="takeSnapshot()" />
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm">
				<div class="card">
					<div class="card-header">Ảnh chụp</div>
					<div class="card-body">
						<img src="" id="inputWebcam" />
						<label class="form-check">
							Cho phép đóng góp ảnh này
							<input type="checkbox" class="form-check-input" id="chkContribute">
							<span class="checkmark"></span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="formButton">
				<input type="submit" value="Gửi hình" name="submit" class="btn btn-primary" />
				<a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Index">Chuyển qua tập tin</a>
			</div>
		</div>
	</form>
</div>
<br/>
<div class="row">
	<div class="col-sm" id="divResult_right">
		<div class="card">
			<div class="card-header">Kết quả</div>
			<div class="card-body">
				<div id="divImageId" class="col-md-10"></div>
				<div id="divPrediction" class="col-md-10"></div>
				<div id="divProbability" class="col-md-10"></div>
				<div id="divEnPrediction" class="col-md-10"></div>
				<div id="divExecutionTime" class="col-md-10"></div>
				<br />
				<div class="formButton center">
					<input type="button" value="Khám phá thêm về loài hoa này" class="btn btn-info row-sm" data-toggle="modal" data-target="#modal-info" />
					<input type="button" value="Báo cáo" class="btn btn-sm row-sm btn-danger" id="btnSendContribution" />
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle">Thông tin cho bạn</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>
@section scripts{
	<script src="~/js/webcam.min.js" type="text/javascript" asp-append-version="true"></script>
}