
@{
	ViewData["Title"] = "Giới thiệu";
}

<div class="text-center">
	<h1 class="display-4">Chào mừng</h1>
	<h2 class="headerDiv">Ứng dụng nhận diện loài hoa trực tuyến, sử dụng thư viện ML.NET, dựa trên TensorFlow</h2>
	<p>Tìm hiểu thêm về <a href="https://docs.microsoft.com/en-us/dotnet/machine-learning/">thư viện ML.NET</a> của Microsoft nhé.</p>
</div>
<div class="github-card" data-github="quocthang0507/FlowerImageClassification" data-width="400" data-height="" data-theme="default"></div>
<br/>
<iframe src="https://quocthang0507.github.io/FlowerImageClassification/" title="Flower Classification" class="repo" style="background-color: #fff;"></iframe>

@section scripts{
	<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
}