
@{
	ViewData["Title"] = "Giới thiệu";
}

<div class="text-center">
	<h1 class="display-4">Chào mừng</h1>
	<h2 class="headerDiv">Ứng dụng nhận diện loài hoa trực tuyến, sử dụng thư viện ML.NET, dựa trên TensorFlow</h2>
	<p>Tìm hiểu thêm về <a href="https://docs.microsoft.com/en-us/dotnet/machine-learning/">thư viện ML.NET</a> của Microsoft.</p>
</div>

