@{
	ViewData["Title"] = "Trang chủ";
}

<div class="card card-file">
	<form method="post" enctype="multipart/form-data" id="mainForm">
		<div>
			<p>Tải hình ảnh của bạn lên đây:</p>
		</div>
		<div>
			<div class="form-group custom-file mb-3">
				<input type="file" class="custom-file-input form-control" id="inputFile" name="imageFile" accept="image/*">
				<label class="custom-file-label" for="inputFile">Chọn tập tin</label>
			</div>
		</div>
		<div id="formButton">
			<input type="submit" value="Gửi hình" name="submit" class="btn btn-primary" />
			<a class="btn btn-success" asp-area="" asp-controller="Camera" asp-action="Index">Chuyển qua Camera</a>
		</div>
	</form>
</div>
<div class="row">
	<div class="col-sm" id="divResult_left">
		<div class="card">
			<div class="card-header">Xem trước</div>
			<div class="card-body">
				<div id="divImagePreview"></div>
			</div>
		</div>
	</div>
	<div class="col-sm" id="divResult_right">
		<div class="card">
			<div class="card-header">Kết quả</div>
			<div class="card-body">
				<div id="divImageId" class="col-md-10"></div>
				<div id="divPrediction" class="col-md-10"></div>
				<div id="divEnPrediction" class="col-md-10"></div>
				<div id="divProbability" class="col-md-10"></div>
				<div id="divExecutionTime" class="col-md-10"></div>
				<br />
				<div class="center">
					<button class="btn btn-info" data-toggle="modal" data-target="#modal-info">Khám phá thêm về loài hoa
						này</button>
				</div>
				<div class="row center">
					<div class="col-sm">
						<button class="btn sentiment" data-toggle="modal" data-target="#modal-sentiment">
							<span class="dislike">Không hài lòng</span>
						</button>
					</div>
					<div class="col-sm">
						<button class="btn sentiment" data-toggle="modal" data-target="#modal-sentiment">
							<span class="normal">Bình thường</span>
						</button>
					</div>
					<div class="col-sm">
						<button class="btn sentiment" data-toggle="modal" data-target="#modal-thanks">
							<span class="like">Hài lòng</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Model form thông tin giới thiệu-->
<div class="modal fade" id="modal-info" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle">Thông tin cho bạn</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>

<!--Model form phản hồi ý kiến-->
<div class="modal fade" id="modal-sentiment" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<form method="post" enctype="multipart/form-data" id="sentimentForm">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle">Phản hồi về kết quả</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<label class="form-check">
					Kết quả dự đoán sai
					<input type="checkbox" class="form-check-input" id="chkIncorrect">
					<span class="checkmark"></span>
				</label>
				<label class="form-check">
					Thông tin giới thiệu chưa hữu ích
					<input type="checkbox" class="form-check-input" id="chkUnuseful">
					<span class="checkmark"></span>
				</label>				
				<label class="form-check">
					Thời gian phản hồi chậm
					<input type="checkbox" class="form-check-input" id="chkDelay">
					<span class="checkmark"></span>
				</label>
				<label class="form-check">
					Gặp khó khăn khi sử dụng
					<input type="checkbox" class="form-check-input" id="chkHard">
					<span class="checkmark"></span>
				</label>
				<div class="form-group">
					<label for="message-text" class="col-form-label">Lý do khác:</label>
					<textarea class="form-control" id="tbxSentiment" placeholder="Vui lòng mô tả đầy đủ vấn đề/góp ý (nếu có)" maxlength="400"></textarea>
				</div>
				<p>Lưu ý: Ảnh sẽ gửi kèm cùng với phản hồi này và lưu lại trên hệ thống. Bạn có muốn tiếp tục?</p>
			</div>
			<div class="modal-footer">
				<input class="btn btn-primary" type="submit" name="submit" value="Gửi"/>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
			</div>
		</div>
		</form>
	</div>
</div>

<!--Model form cảm ơn-->
<div class="modal fade" id="modal-thanks" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle">Cảm ơn</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Cảm ơn bạn đã chia sẻ phản hồi cho chúng tôi biết. Truy cập điều khoản riêng tư để biết thêm chi tiết:
				<a asp-area="" asp-controller="Home" asp-action="Privacy" target="_blank">Điều khoản Riêng tư</a>
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
			</div>
		</div>
	</div>
</div>