@{
	ViewData["Title"] = "Điều khoản riêng tư người dùng";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<div class="list-group list-group-root well">
	<a class="list-group-item main">
		1. Thông tin mà chúng tôi thu thập bao gồm những gì? <br />
		Chúng tôi chỉ thu thập những thông tin mà bạn gửi lên máy chủ cùng với sự đồng ý của bạn, bao gồm:
	</a>
	<div class="list-group">
		<a class="list-group-item">1.1. Hình ảnh mà bạn tải lên website.</a>
		<a class="list-group-item">1.2. Nhãn của hình ảnh mà bạn tải lên website.</a>
		<a class="list-group-item">1.3. Kết quả đánh giá nhãn của các hình ảnh thuộc danh sách hình ảnh cần được phân loại.</a>
		<a class="list-group-item">1.4. Phản hồi với kết quả mà hệ thống dự đoán.</a>
	</div>
	<a class="list-group-item main">
		2. Thông tin đó được xử lý như thế nào?
	</a>
	<div class="list-group">
		<a class="list-group-item">2.1. Các thông tin mà bạn đồng ý gửi được nêu ở mục 1 sẽ chỉ dùng cho mục đích duy nhất là huấn luyện, đánh giá, cải thiện kết quả mô hình.</a>
		<a class="list-group-item">2.2. Các kết quả phản hồi từ phía người dùng sẽ được xem xét trước khi đưa vào huấn luyện.</a>
	</div>
	<a class="list-group-item main">
		3. Thông tin chúng tôi không thu thập bao gồm những gì?
	</a>
	<div class="list-group">
		<a class="list-group-item">3.1. Chúng tôi không thu thập những gì được nêu ở mục 1 nếu như không có sự đồng ý của bạn.</a>
		<a class="list-group-item">
			3.2. Các thông tin ngoài nằm ngoài mục 1, chẳng hạn dữ liệu lịch sử web, cookies, địa chỉ IP,... cũng sẽ không thu thập,
			cho dù bạn có đồng ý cho phép thu thập các thông tin ở mục 1.
		</a>
	</div>
	<a class="list-group-item main">
		4. Chúng tôi cam kết:
	</a>
	<div class="list-group">
		<a class="list-group-item">4.1. Thông tin mà bạn gửi sẽ chỉ thu thập như những gì được nêu ở mục 1.</a>
		<a class="list-group-item">4.2. Thông tin mà bạn gửi sẽ ẩn danh, những gửi dùng khác sẽ không thấy thông tin người gửi của hình ảnh đó.</a>
		<a class="list-group-item">4.3. Không sử dụng các thông tin mà bạn gửi cho mục đích thương mại, bất chính.</a>
		<a class="list-group-item">4.4. Mã nguồn của toàn bộ website được lưu trữ trên Github để bất kỳ ai cũng có thể xem.</a>
		<a class="list-group-item">4.5. Đặt quyền riêng tư dữ liệu cá nhân của người dùng là trên hết.</a>
	</div>
	<a class="list-group-item main">
		5. Người dùng cần lưu ý:
	</a>
	<div class="list-group">
		<a class="list-group-item">5.1. Tuyệt đối không chia sẻ các dữ liệu nhạy cảm lên website, chẳng hạn tài khoản ngân hàng, mã PIN, mật khẩu,... bất kể mọi hình thức.</a>
		<a class="list-group-item">5.2. Kết quả dự đoán không thể tránh khỏi những sai sót, do đó cần sự đóng góp từ cộng đồng để website ngày càng hoàn thiện hơn.</a>
		<a class="list-group-item">5.3. Thông tin đóng góp để cải thiện website, xin vui lòng phản ánh khách quan, trung thực nhất.</a>
	</div>
</div>