@model IEnumerable<Sentiment>
@{
	ViewData["Title"] = "Đóng góp";
}

<h1>Đóng góp</h1>

<div class="row">
	@foreach (var sentiment in Model)
	{
		<div class="col-md-3">
			<div class="img-thumbnail">
				<img id="@sentiment.ID" src="~/Contributions/@sentiment.FileName" alt="@sentiment.FileName"/>
				<div class="caption">
					<p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
				</div>
			</div>
		</div>
	}
</div>